<footer class="footer-area">
        <div class="container">
            <div class="row footer-widgets">
                <div class="col-lg-4 col-md-6 col-md-7">
                    <div class="widget about-widget">
                        <div class="logo">
                            <img src="~/user-assets/img/logo-1.1.png" alt="">
                        </div>
                        <p>The web has changed a lot since Vitaly posted his first article back in 2006. The team at Smashing has changed too, as have the things that we bring to our community onferences, books, and our membership added to the online magazine.</p>
                        <p>One thing that hasn’t changed is that we’re a small team — with most of us not working</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-xl-1">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Pages</h4>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Home</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Services</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> About</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Career</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Refund</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Terms</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Details</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Contact</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Business</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Affiliate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-md-6">
                    <div class="widget contact-widget">
                        <h4 class="widget-title">Working Hours</h4>
                        <ul>
                            <li>Monday - Friday: 7:00 - 17:00</li>
                            <li>Saturday: 7:00 - 12:00</li>
                            <li>Sunday and holidays: 8:00 - 10:00</li>
                        </ul>
                        <p><span>For more then 30 years,</span> IT Service has been a reliable partner in the field of logistics and cargo forwarding.</p>
                        <a href="#"><i class="fal fa-angle-right"></i>Discover More</a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright By@@ <a href="https://github.com/mesutozturk/WM4_WebApp" target="_blank">Wissen Akademie WM6</a> - 2021</p>
            </div>
        </div>
    </footer>