@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<header class="header-one sticky-header">
    <div class="header-navigation">
        <div class="container-fluid d-flex align-items-center justify-content-between container-1470">
            <div class="header-left">
                <div class="site-logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/user-assets/img/logo.png" alt="Wissen"></a>
                </div>
            </div>
            <div class="header-right d-flex align-items-center justify-content-end">
                <div class="site-nav-menu">
                    <ul class="primary-menu">
                        <li class="current">
                            <a href="index.html">Home</a>
                            <ul class="submenu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                                <li><a href="index-5.html">Home 5</a></li>
                                <li><a href="index-6.html">Home 6</a></li>
                                <li>
                                    <a href="#">OnePage</a>
                                    <ul class="submenu">
                                        <li><a href="index-onepage.html">Home 1</a></li>
                                        <li><a href="index-2-onepage.html">Home 2</a></li>
                                        <li><a href="index-3-onepage.html">Home 3</a></li>
                                        <li><a href="index-4-onepage.html">Home 4</a></li>
                                        <li><a href="index-5-onepage.html">Home 5</a></li>
                                        <li><a href="index-6-onepage.html">Home 6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                            <ul class="submenu">
                                <li><a href="services.html">Services</a></li>
                                <li><a href="services-details.html">Services Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="case-study.html">case study</a></li>
                                <li><a href="case-details.html">Case Details</a></li>
                                <li><a href="coming-soon.html">coming soon</a></li>
                                <li><a href="error.html">error</a></li>
                                <li><a href="faq.html">faq</a></li>
                                <li><a href="pricing.html">pricing</a></li>
                                <li><a href="shop.html">shop</a></li>
                                <li><a href="shop-details.html">shop Details</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="privacy.html">Privacy</a></li>
                                <li><a href="team.html">team</a></li>
                                <li><a href="team-details.html">team details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                            <ul class="submenu">
                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <a href="#" class="nav-close"><i class="fal fa-times"></i></a>
                </div>
                <div class="header-extra d-flex align-items-center">
                    <div class="shoping-mini-cart">
                        <a href="#" class="cart-icon"><i class="fal fa-shopping-cart"></i></a>
                    </div>
                    <div class="search-widget">
                        <a href="#" class="search-icon"><i class="fal fa-search"></i></a>

                        <div class="search-form">
                            <form action="#">
                                <input type="search" placeholder="Type keywords & hit enter">
                            </form>

                            <a href="#" class="search-close"><i class="fal fa-times"></i></a>
                        </div>
                    </div>
                    <div class="offcanvas-widget d-lg-block d-none">
                        <div class="offcanvas-icon">
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                    <div class="nav-toggler">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="navbar-btn">
                        @if (signInManager.IsSignedIn(Context.User))
                        {
                            <a asp-controller="Account" asp-action="Logout">Çıkış Yap <i class="fal fa-long-arrow-right"></i></a>

                            @*var currentUser = userManager.FindByNameAsync(User.Identity.Name).Result;

                                @if (userManager.IsInRoleAsync(currentUser, RoleNames.Admin).Result)
                                {
                                <a href="#">Admin Panel <i class="fal fa-long-arrow-right"></i></a>
                                }*@

                            @if (Context.User.IsInRole(RoleNames.Admin))
                            {
                                <a asp-area="Admin" asp-controller="Manage" asp-action="Index">Admin Panel <i class="fal fa-long-arrow-right"></i></a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Giriş Yap <i class="fal fa-long-arrow-right"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>