<section class="page-title-area">
    <div class="container">
        <h2 class="title">@ViewBag.Title</h2>
        <ul class="breadcrumb-nav">
            <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</section>