<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="Wissen Akademie ASP.net MVC Eğitimi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--====== Title ======-->
    <title>@ViewBag.Title - IT Solutions & Digital Services</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="user-assets/img/favicon.ico" type="img/png" />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="user-assets/css/bootstrap.min.css" />
    <!--====== Slick Slider ======-->
    <link rel="stylesheet" href="user-assets/css/slick.css" />
    <!--====== Magnific ======-->
    <link rel="stylesheet" href="user-assets/css/magnific-popup.css" />
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="user-assets/css/animate.min.css" />
    <!--====== Font Awesome ======-->
    <link rel="stylesheet" href="user-assets/css/font-awesome.min.css" />
    <!--====== Main Css ======-->
    <link rel="stylesheet" href="user-assets/css/style.css" />
    @await RenderSectionAsync("Styles",required:false)
</head>
<body>
    <!--====== Preloader Start ======-->
    <div id="preloader">
        <div class="loader-cubes">
            <div class="loader-cube1 loader-cube"></div>
            <div class="loader-cube2 loader-cube"></div>
            <div class="loader-cube4 loader-cube"></div>
            <div class="loader-cube3 loader-cube"></div>
        </div>
    </div>
    <!--====== Preloader End ======-->
    <!--====== Header Part Start ======-->
    <partial name="Partials/_HeaderPartial" />
    <!--====== Header Part End ======-->

    @RenderBody()

    <!--====== Back to top start ======-->
    <div class="back-to-top">
        <a href="#"> <i class="fas fa-arrow-up"></i> </a>
    </div>
    <!--====== Back to top start ======-->
    <!--====== Footer PART START ======-->
    <footer class="footer-area">
        <div class="container">
            <div class="row footer-widgets">
                <div class="col-lg-4 col-md-6 col-md-7">
                    <div class="widget about-widget">
                        <div class="logo">
                            <img src="assets/img/logo-1.1.png" alt="">
                        </div>
                        <p>The web has changed a lot since Vitaly posted his first article back in 2006. The team at Smashing has changed too, as have the things that we bring to our community onferences, books, and our membership added to the online magazine.</p>
                        <p>One thing that hasn’t changed is that we’re a small team — with most of us not working</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-xl-1">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Pages</h4>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Home</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Services</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> About</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Career</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Refund</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Terms</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Details</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Contact</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Business</a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Affiliate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-md-6">
                    <div class="widget contact-widget">
                        <h4 class="widget-title">Working Hours</h4>
                        <ul>
                            <li>Monday - Friday: 7:00 - 17:00</li>
                            <li>Saturday: 7:00 - 12:00</li>
                            <li>Sunday and holidays: 8:00 - 10:00</li>
                        </ul>
                        <p><span>For more then 30 years,</span> IT Service has been a reliable partner in the field of logistics and cargo forwarding.</p>
                        <a href="#"><i class="fal fa-angle-right"></i>Discover More</a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright By@@ <a href="https://github.com/mesutozturk/WM4_WebApp">Wissen Akademie WM6</a> - 2021</p>
            </div>
        </div>
    </footer>
    <!--====== Footer PART ENDS ======-->
    <!--====== Jquery ======-->
    <script src="user-assets/js/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap ======-->
    <script src="user-assets/js/bootstrap.bundle.min.js"></script>
    <!--====== Slick slider ======-->
    <script src="user-assets/js/slick.min.js"></script>
    <!--====== Magnific ======-->
    <script src="user-assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== Isotope ======-->
    <script src="user-assets/js/isotope.pkgd.min.js"></script>
    <!--====== Imagesloaded ======-->
    <script src="user-assets/js/imagesloaded.pkgd.min.js"></script>
    <!--====== Inview ======-->
    <script src="user-assets/js/jquery.inview.min.js"></script>
    <!--====== Easy Pie Chart ======-->
    <script src="user-assets/js/jquery.easypiechart.min.js"></script>
    <!--====== Syotimer ======-->
    <script src="user-assets/js/jquery.syotimer.min.js"></script>
    <!--====== Wow ======-->
    <script src="user-assets/js/wow.min.js"></script>
    <!--====== Main JS ======-->
    <script src="user-assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts",required:false)
</body>
</html>