@{
    ViewBag.Title = "Şifremi Unuttum";
}
<!--====== Page Title start ======-->
<partial name="Partials/_PageStartPartial" />
<!--====== Page Title End ======-->
<!--====== Shoping Checkout Start  ======-->
<section class="shoping-checkout-area section-gap">
    <div class="container">
        <div class="user-actions mb-40">
            <div class="text-info">@ViewBag.Message</div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <form method="post" asp-controller="Account" asp-action="ResetPassword">
            <div class="row">
                <div class="col-lg-12">
                    <div class="billing-details">
                        <h3 class="title">Şifremi Unuttum</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email"/>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="payment-box mt-30">
                                    <input type="submit" class="main-btn" value="Şifremi Sıfırla" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--====== Shoping Checkout End ======-->
@section Styles
{
<style>
    input {
        border: solid 1px #e3eeff;
        height: 50px;
        padding: 0 15px;
    }
</style>
}